@import './header.scss';
@import './banner.scss';
@import './pies.scss';
@import './quote.scss';
@import './products.scss';
@import './fruits.scss';
@import './fruitsBanner.scss';
@import './footer.scss';
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}
.content {
    margin-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
}