.banner {
    position: relative;
    text-align: center;
    display: block;
    float: left;
}
.banner_image {
    float: left;
    width:100%;
    height: auto;
    position: relative;
}
.banner_text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-family: Pacifico; 
    color: white;
    z-index: 10;
    font-size:6vw;
    &.big {
        top:10vw;
        font-family: 'Nunito', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 10vw;
    }
    &.colored {
        color: #333333;
    }
}
.banner_container {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.banner_button{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 10;
    text-transform: uppercase;
    -webkit-appearance: none;
    background-color: #dd3f3a;
    border: 1px #f15257 solid;
    color: white;
    cursor: pointer;
    padding: 5px;
    &:hover {
        background-color: #9b2f2b;
    }
}